/* http://codepen.io/rachelcope/pen/YPzZrg */
.li {
    float: left;
}

.mountains {
    position: relative;
    margin: 320px auto;
    width: 800px;
    z-index: 3;
}

.peak1 {
    border-left:   200px solid transparent;
    border-right:  200px solid transparent;
    border-bottom: 200px solid SteelBlue;
}
.peak2 {
    border-left:   150px solid transparent;
    border-right:  175px solid transparent;
    border-bottom: 150px solid SteelBlue;
    margin-left: -200px;
    margin-top: 50px;
}

.peak3 {
    border-left:   200px solid transparent;
    border-right:  200px solid transparent;
    border-bottom: 200px solid SteelBlue;
    margin-left: -250px;
}

.sun {
    background: gold;
    border-radius: 50%;
    height: 100px; width: 100px;
    margin: 0 auto;
    @include animation(rise 2s 3s ease-in infinite alternate both);
}

@include keyframes(rise) {
    0%   { opacity: 0; background: tomato; }
    10%  { opacity: 1; background: tomato; }
    20%  { opacity: 1; background: goldenrod; }
    55%  { opacity: 1; background: golden; }
    0%   { @include transform(translateY(0px)); }
    100% { @include transform(translateY(-350px)); }
}

.clouds-wrapper {
    outline: 1px solid red;
    margin: -150px auto;
    width: 800px;

    .ul {
        position: relative;
    }
    .li {
        position: aboslute;
        background: Gainsboro;
        outline: 1px solid red;
        height: 100px;
        width: 100px;

        &:nth-child(1){
            border-radius: 30px;
            height: 50px; width: 150px;
            background: red;
        }
        &:nth-child(2){
            background: blue;
            border-radius: 50px;
            height: 80px; width: 80px;
            margin-top: -40px;
            margin-left: 23px;
        }
        &:nth-child(3){
            background: green;
            border-radius: 50px;
            height: 50px; width: 50px;
            margin-top: -25px;
            margin-left: 80px;
        }
    }
}

body{ }
