doctype html
html
  head
    title sunrise
    link(rel="stylesheet", href="main.css")
  body
    // http://codepen.io/rachelcope/pen/YPzZrg
    .ul.mountains
        .li.peak1
        .li.peak2
        .li.peak3

    .sun

    .clouds-wrapper
        .ul.clouds1
            .li
            .li
            .li

        .clouds2-container
            .ul.clouds2
                .li
                .li
                .li

        .clouds3-container
            .ul.clouds2
                .li
                .li
                .li

        .clouds4-container
            .ul.clouds2
                .li
                .li
                .li

    // -----
    script(src="app.js")

